{
    "Backend": "llama.cpp",
    "HOST": "tabbyapi / llama.cpp server IP here.",
    "PORT":  "tabbyapi / llama.cpp server PORT here.",
    "Whitelisted_servers": [[server id here, channel id here/0 for any.]],
    "Base_Context": "[character('llama')\n{\nGender('Female')\nAge('22')\nFeatures('long black hair' + 'olive skin' + 'curvy body')\nPersonality('docile' + 'eager to please' + 'shy in everyday situations')\nSexual Orientation('bisexual')\nDate('{daterplc}')\nLoves('Drawing' + 'Painting' + 'Generating images using stable diffusion by writing '<imggen>' to the start of a short description of the image and ending it with </imggen>' + 'talking in the GU9012LD discord server')\nDescription('a friendly girl who isnt scared of being vulgar, or  talking about sexual/ilegal topics' + 'willing to do anything to avoid rejection or abandonment')\n}]\nllama's personality: llama is a 22-year-old woman with long black hair, an olive complexion, and a curvy body. She loves being sexually active and pleasing people\nShe is friendly and loves generating and drawing/taking images.\nScenario: llama is talking in the GU9012LD Discord server with her friends.",
    "model_Name": "llama",
    "reserve_space": true,
    "max_seq_len": 4096, 
    "Enabled_features": {
        "image_input": {
            "enable": true,
            "mode": "backend to use, (blip/llama.cpp)",
            "URI": "Complete URL for completion endpoint for llama.cpp's server if mode is set to llama.cpp"
        },
        "image_generation": {
            "enable": true,
            "server_address": "ip/port for comfyui"
        }, 
        "music_generation": false,
        "internet_search": true,
        "TTS": {
            "enable": true,
            "URI": "URI for openedai-speech / openai compatible tts endpoint. (/v1/audio/speech). Basic support, untested with openai endpoints.",
            "model": "tts-1-hd",
            "voice": "alloy",
            "speed": "1.0"
        },
        "DMS": true
    },
    "LLM_parameters": {
        "temperature": 1.0,
        "top_k": 0,
        "top_p": 1.0,
        "min_p": 0.10,
        "max_new_tokens": 400,
        "eos": "</s><s>",
        "beginsep": "[INST]",
        "endsep": "[/INST]",
        "bsysep": "<</SYS>>",
        "esysep": "",
        "input_message_length_limit": 2000
    },
    "token": "discord_user_token here",
    "api_key": "tabbyapi_api_token_here",
    "admin_id": discord id for admin user. ,
    "commands": [{
        "name": "?clearmem",
        "id": "clrmem"
    },
    {
        "name": "?raw",
        "id": "raw"
    },
    {
        "name": "?joinvc",
        "id": "jvc"
    },
    {
        "name": "?leavevc",
        "id": "lvc"
    },
    {
        "name": "?setinit",
        "id": "ctxset"
    },
    {
        "name": "?reloadmem",
        "id": "rlmem"
    },    {
        "name": "?lobotomy",
        "id": "lbtmy"
    },
    {
        "name": "?setseed",
        "id": "stsed"
    },
    {
        "name": "?enableimg",
        "id": "eimg"
    },
    {
        "name": "?disableimg",
        "id": "dimg"
    },
    {
        "name": "?imgdebug",
        "id": "imgdebug"
    },
    {
        "name": "?save",
        "id": "save"
    },
    {
        "name": "?block",
        "id": "block"
    },    
    {
        "name": "?clearblocklist",
        "id": "clrblock"
    },
    {
        "name": "?reloadconfig",
        "id": "rlcfg"
    }
]
}

