requests==2.30.0
transformers==4.31.0
websocket-client==1.6.4
openai==1.2.2
duckduckgo_search==3.9.10
torch==2.0.1
easyocr==1.7.1
git+https://github.com/itsme2417/discord.py-self
Pillow==9.5.0
numpy==1.24.3
nest-asyncio==1.5.6
mathjson_solver==1.6.1
pandas==2.1.4
Pillow==9.5.0
gitdb==4.0.11

